
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <title>Vue Example</title>
</head>
<body>
    <main id="app">
        <h3>{{ message }}</h3>

        <a :class="{ 'no-decorate' : anchorOff }" :href="targetURL" target="_blank">{{ targetURL}}</a>

        <p v-if="hazVue">
            {{ vuemessage}}
        </p>

        <ul>
            <li v-for="fruit in deliciousFruit">
                <p v-on:click="logFruit">{{ fruit.name }} is {{ fruit.flavour}}</p>
            </li>
        </ul>



    </main>
    <script src="js/main.js"></script>
</body>
</html>
